name: PHP Linting

on: [push, pull_request]

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@2.4
        with:
          preset: laravel
          verboseMode: true
          testMode: true
          configPath: "./pint.json"
          pintVersion: 1.21.0
